mixin pratchettScheme
  include icons.pug
  .pratchett-scheme
    .pratchett-scheme__waves
      +bigWave(1)
      +bigWave(2)
      +reversiveSmallWave(1)
      +reversiveBigWave(3)

    .pratchett-scheme__stars
      -var stars = [16,16,9,16,16,16,16];
      -var i = 0
      while i < 7
        svg.sky-star(data-star=(i+1) width=stars[i] height=stars[i]): use(xlink:href="#star-icon")
        -i++

    
    .cycles
      each column, index in columns
        .cycles__column(data-column=index+1)
          each cycle, cycleindex in column
            -var className = "cycle" + (cycle.transparent ? " cycle_transparent" : "")
            div(class=className data-cycle=cycle.id data-column-index=cycleindex+1)
              if cycle.books
                each book in cycle.books
                  //.book(data-book = book )
                  .book(data-index=book.index 
                        data-lines=book.lines 
                        data-cycle=(book.cycle ? book.cycle : cycle.id) data-cycle-item)
                    .book__title !{book.title}
                    if book.picture
                      .book__add Иллюстрированный роман
                    if book.science
                      .book__add Научный роман
                    if book.year
                      .book__year !{book.year}
                    if book.separate
                      svg.star: use(xlink:href="#star-icon")
                    if book.relations
                      svg.relations
                        each relation in book.relations
                          path(d=relation.d class=relation.dash ? "dashed" : "")
              if cycle.relations
                svg.relations
                  each relation in cycle.relations
                    path(d=relation.d class=relation.dash ? "dashed" : "")
    